---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
	<p>
{% assign authorCount = page.authors | size %}
{% if authorCount != 0 %}
	Scritto da 
	{% assign authors = site.data.authors %}
    {% for author in page.authors %}
		{% assign name = authors[author].name %}
		{% assign web = authors[author].web %}
        {% if forloop.first %}
            {% if web %}<a href ="{{web}}" >{% endif %}{{ name }}{% if web %}</a>{% endif %}
        {% elsif forloop.last %}
            e {% if web %}<a href ="{{web}}" >{% endif %}{{ name }}{% if web %}</a>{% endif %}
        {% else %}
            , {% if web %}<a href ="{{web}}" >{% endif %}{{ name }}{% if web %}</a>{% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
</p>
	{% include share-bar.html %}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
